*{
    margin: 0;
    padding: 0;
}
:root{
    --clr-orange:#FEA301;
    --clr-blue:#01ACFD;
    --clr-black:#111111;
    --clr-white:#F7F7F7;
}
body{
    background-color: var(--clr-white);
    background-image: linear-gradient(to top, #fea1014d 0%, #F7F7F7 40%);
}
header, main, .footer-section{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

}


/* Main Font */
.quicksand-mainfont {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* regular 400
  medium 500
  semi-bold 600
  bold 700 */


  /* Header Section */

.logo-area{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-txt{
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: var(--clr-black);
}

li{
    list-style: none;
}
.menu{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0px 100px;
}
.home-m, .about-m, .faci-m, .admission-m{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.home-m{
    color: var(--clr-orange);
}
.about-m{
    color: var(--clr-blue);
}
.faci-m{
    color: #05D4DF;
}
.admission-m{
    color: #5D58EF;
}


button{
    
    border-radius: 12px;
    color: var(--clr-white);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border: none;
}
.btn-contact{
    background-color: var(--clr-orange);
    padding: 10px 60px;
}

nav{
    width: 100%;
    height: 102px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: aqua; */
}
/* Hero Section  */
.hero-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}
.hero-content{
    width: 640px;
}
h1{
    font-size: 3.5em;
    font-weight: 700;
}
.hero-description{
    font-size: 1.25em;
    margin: 24px 0px;
}
.btn-hero{
    background-color: var(--clr-black);
    padding: 10px 47px;
}

/* Section-1: Standard Curriculam */
.standard-curri{
    max-width: 1270px;
    width: 100%;
    /* margin: 0 auto; */
}

h2{
    font-size: 46px;
    color: var(--clr-black);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

h3{
    font-size: 24.5px;
    margin: 33px 0px;
}

.card-area{
    display: flex;
    gap: 29px;
}
.card-1, .card-2, .card-3{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to bottom,#DEF5FF 0%, #ffffff 30%);
    border-radius: 19px;
    box-shadow: inset 1px 1px 50px rgb(235, 235, 235);
    align-items: center;
    text-align: center;
    padding: 53px 40px;
    width: 368px;
}
.card-2{
    border: 1px solid #FFF4DC;
    background-image: linear-gradient(to bottom,#FFF4DC 0%, #ffffff 30%);
}
.card-3{
    border: 1px solid #F2E8FF;
    background-image: linear-gradient(to bottom,#F2E8FF 0%, #ffffff 30%);
}
.card-txt{
    font-size: 15.5px;
    line-height: 29px;
    color: #808080;
    margin-bottom: 34px;
}
.card-btn1, .card-btn2, .card-btn3{
    font-size: 15.5px;
    line-height: 29px;
    font-weight: 700;
    color: #64C8FF;
    text-decoration: none;
}
.card-btn2{
    color: #F0AA00;
}
.card-btn3{
    color: #8700FF;
}
#section-1{
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 140%;
    height: auto;
    
}
/* Arrow Button (Learned from Youtube) */
.container{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arr{
    background: var(--clr-orange);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 15px;
    transition: 0.4s ease;
}
.arr:hover{
    box-shadow: 0px 0px 20px 20px #f0a80043;
    
}
.arr div {
    position: absolute;
    height: 20px;
    width: 20px;
    border-top: 6px solid white;
    border-left: 6px solid white;
    transform: rotate(45deg);
    margin-left: 22px;
    margin-top: 30px;

}
.right{
    transform: rotate(90deg);
}
.left{
    transform: rotate(-90deg);
}

/* Section-2 Our Story */

#our-stories{
    margin: 60px 0px;
}
.story-date1, .story-date2{
    
    background-color: #3CD8E8;
    color: var(--clr-white);
    padding: 15px 10px;
    margin-top: -30px;
    width: 150px;
    text-align: center;
    border-radius: 48px;
    position: relative;
    z-index: 1;
    
}
.story-date2{
    background-color: #95B226;
}
.story-container{
    display: flex;
    gap: 20px;
}

.set-left{
    background-color: #fff;
    border-radius: 16px;

}
.cont-2, .cont-3, .cont-4, .cont-5{
    background-color: #fff;
    border-radius: 16px;
}

.set-right{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.st-img1{
    width: auto;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
}
.st-img2{
    width: auto;
    height: 50%px;
    border-radius: 16px 16px 0px 0px;
}

.story-title{
    font-size: 1em;
}
.story-1{
    padding: 0px 38px;
}
.story-2{
    padding: 0px 20px 0px 35px;
}
.btn-our{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}


/* Footer Section */
footer{
    width: auto;
    height: 519px;
    background-color: var(--clr-blue);
    display: flex;
    align-items: center;
    
}
.footer-section{
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
}
.foot-menu{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.column-1{
    width: 400px;
    /* margin-top: 30px; */
}
.logo-area{
    margin: 30px 0px;
}